

body {
	background: url(../img/bg-body.jpg) center center;
}

.wrap {
	max-width: 1220px;
	margin: 0 auto;
}

.content-narrow {
	@extend .content-style;
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
}

.content-wide, .tribe-events-single {
	@extend .content-style;
	padding: 40px 20px;
}

.content-two-column {
	@include respond-to( 768px ) {
		padding: 30px 0;
	}
}

.fluid-width-video-wrapper {
	margin: 15px 0;
}

.half, .two-third, .three-quarter {
	@extend .content-style;
}

.quarter, .third {
	padding: 20px 10px;
}

.half, .two-third, .three-quarter {
	padding: 20px;
}



@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;

		&.right {
			float: right;
		}
	}

	.quarter {
		width: 24%;
		margin: 0 .5%;
	}

	.third {
		width: 32%;
		margin: 0 .5%;
	}

	.two-third {
		width: 66%;
		margin: 0 .5%;
	}

	.three-quarter {
		width: 74%;
		margin: 0 .5%;
	}
}


img {
	&.alignright {
		float: right;
		margin: 0 0 15px 15px;
	}

	&.alignleft {
		float: left;
		margin: 0 15px 15px 0;
	}
}


.post-list {
	article {
		padding: 20px 0;
		border-bottom: 3px solid lighten( $grey, 25% );
	}
}


.pagination {
	padding: 15px 0;
	text-align: center;
	font-size: 15px;
	line-height: 15px;
	@include font-bold;

	a {
		padding: 7px 12px;
		background: $grey;
		color: white;
		text-decoration: none;
		display: inline-block;

		&:hover {
			background: lighten( $grey, 5% );
		}
	}

	.current {
		padding: 7px 12px;
		display: inline-block;
		background: lighten( $grey, 5% );
	}
}


.tablepress-id-38 {
	td {
		width: 33.33%;
	}
}

