

.photo-gallery {
	padding: 5px;
	@include clearfix;
	
	.photo {
		padding: 5px;
	
		img {
			display: block;
			width: 100%;
		}

		@include respond-to( 480px ) {
			float: left;
			width: 50%;
		}

		@include respond-to( 900px ) {
			width: 33.3333%;
		}

		@include respond-to( 1220px ) {
			width: 25%;
		}

		@include respond-to( 1440px ) {
			width: 20%;
		}

		@include respond-to( 1680px ) {
			width: 16.6666%;
		}

		@include respond-to( 1800px ) {
			width: 14.2856%;
		}
	}

}

