

.sidebar {
	.widget {
		padding: 10px 0;
		margin-bottom: 30px;
		font-size: 15px;

		.widget-title {
			position: relative;
			padding: 10px 15px 10px 10px;

			h4 {
				@include font;
				color: white;
				border-bottom: 4px solid white;
				text-transform: uppercase;
				font-size: 1.1em;
			}

			&:before {
				content: '';
				position: absolute;
				width: 44px;
				height: 44px;
				margin-top: -22px;
				right: 5px;
				top: 50%;
			}
		}

		&.widget_nav_menu {
			.widget-title {
				background-color: $navy;

				&:before {
					background: url(../img/icon-pointer.png) center center no-repeat;
					background-size: contain;
				}
			}

			ul {
				li {
					a {
						display: block;
						padding: 5px 10px 3px;
						border-bottom: 1px solid lighten( $grey, 20% );
						text-transform: uppercase;
						transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
						color: $grey-dark;
						font-size: .9em;
						text-decoration: none;
	
						&:hover {
							background-color: $grey;
							color: white;
						}
					}
				}
			}
		}
	}

}

